<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#if users}}
      {{#each users}}
        <tr>
          <th scope="row"></th>
          <td>{{this.name}}</td>
          <td>{{this.email}}</td>
          <td><a href="admin/editUser/{{this._id}}" class="btn">Edit</a></td>
          <td><a href="admin/editDlt/{{this._id}}" class="btn">Delete</a></td>
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>