<div class="parallax">
   {{#if user}}
      <div class="caption">  
         <span class="border">Welcome {{user.name}}</span>
      </div>
      {{else}}
      <div class="caption-1">
         <span class="border">Welcome   </span><br>
         <a href="/login" class="home-parallax-a">&nbsp; login for more</a>
      </div>
      {{/if}}
</div>