<div class="container mt-5">
    <h3>Create account</h3>
    <form class="col-4" method="POST" action="/signup">
        {{#if msg}}
            <p class="msg">{{msg}}</p>
        {{/if}}
        <div class="mt-4 form-floating ">
            <input type="text" name="name" class="form-control" placeholder="Your Name">
            <label for="floatingInput">Your Name</label>
        </div>
        <div class="mt-4 form-floating  ">
            <input name="email" type="email" class="form-control" placeholder="Your Email">
            <label for="floatingInput">Your Email</label>
        </div>
        <div class="mt-4 form-floating  mb-5">

            <input name="password" type="password" class="form-control" placeholder="Password">
            <label for="floatingInput">Password </label>
        </div>
        <div class="text-end">

            <button type="submit" class="btn btn-secondary">SignUp</button>
        </div>
    </form>
    
    <div id="g_id_onload"
        data-client_id="918399653782-ngd0km4fnqskg4ir8dusruml23itujr9.apps.googleusercontent.com"
        data-context="signup"
        data-ux_mode="popup"
        data-login_uri="http://localhost:7081/signinWithGoogle"
        data-nonce=""
        data-auto_prompt="false">
    </div>

    <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="filled_black"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left">
    </div>
</div>
<script src="https://accounts.google.com/gsi/client" async></script>